body{
	background-color:black;
	color:white;
	font-size:40px;
	margin-left:1vw;
}

/*css update*/

h1 {
	font-size:8vw;
	letter-spacing:auto;
	padding-bottom:20px;
	text-align:center;
	color:red;
	font-family: alternate-gothic-compressed, sans-serif;
}

h5 {
font-size:7vw;
	letter-spacing:auto;
	text-align:center;
	color:red;
	font-family: alternate-gothic-compressed, sans-serif;
}

h2 {
	font-family: alternate-gothic-compressed, sans-serif;
	font-size:3vw;
	color:white;
	text-align:right;
	padding:10px;

}

/*font-size:80px;*/


h3 {
	font-size:5vw;
	line-height:10vw;
	letter-spacing:auto;
	text-align:left;
	padding-left:50px;
	color:red;
	font-family: alternate-gothic-compressed, sans-serif;
}

p {
	font-size:2vw;
	margin-bottom:20px;
}

a {
color:grey;
text-decoration:none;
}

img {
	max-width: 100%;
	image-orientation: from-image;

}

.border {
border-top: 4px solid white;
	border-bottom: 4px solid white;
}

.cont{
	display: flex;
	margin-top:10px;
	align-items: center;
	max-width:100%;
}



.body1 {
	width:70%;
	margin-left:200px;
	margin-right:200px;
	padding-bottom:40px;

}

.bigv {
	width:100%;
}

.quote {
	font-family: alternate-gothic-compressed, sans-serif;
	color:red;
	font-size:6vw;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
	border-top: 4px solid white;
	border-bottom: 4px solid white;
}

.quote2 {
	font-family: alternate-gothic-compressed, sans-serif;
	color:white;
	font-size:5vw;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
}

.cont{
display:flex;
	margin-top:10px;
	max-width:100%;
}


/*WHY IS THE TEXT SO FAR TO THE RIGHT???*/
.quote.w2o2 {
	font-family: alternate-gothic-compressed, sans-serif;
	color:red;
	font-size:90px;
	margin-top:60px;
	text-align:center;
}


.video {
	width:48vw;
	image-orientation: from-image;
}



.body.w3o2 {
	width:50%;
	padding:10px;
}

.articles {
	display:flex;
	text-align:center;
}

.article1 {
	width:33.33%;
	border-left: 4px solid white;
	text-align:center;
}

.article2 {
	width:33.33%;
	border-left: 4px solid white;
}

.article3 {
	width:33.33%;
		border-left: 4px solid white;
		border-right: 4px solid white;
}

.pics {
	padding:10px;
}

h4 {
	font-size:3vw;
	letter-spacing:auto;
	text-align:center;
	color:red;
	font-family: alternate-gothic-compressed, sans-serif;
}

.body4 p{
	width:70%;
	 margin-left: auto;
  margin-right: auto;
  text-align:left;
  font-size:1.5vw;
}

.nav {
	display:flex;
	justify-content:center;
	align-items:center;
	padding-top:20px;
	padding-bottom:40px;
}

.btn {
	padding-right:25px;
	padding-left:25px;
}

.btn2 a {
	font-size:3vw;
	align-items:center;
}
a {
	font-size:5vw;
	letter-spacing:auto;
	text-align:center;
	color:white;
	font-family: alternate-gothic-compressed, sans-serif;

}

a.cr{
	font-size:3vw;
	padding-bottom:10px;
	text-align:right;
}

a:hover{
	color:red;
	cursor:pointer;
}

