body{
	background-color:black;
	color:white;
	font-size:40px;
	line-height:42px;
}

h1 {
	font-size:12vw;
	line-height:10vw;
	letter-spacing:auto;
	text-align:center;
	margin-top:5vw;
	color:red;
	font-family: alternate-gothic-compressed, sans-serif;
}

h2 {
	font-family: alternate-gothic-compressed, sans-serif;
	font-size:80px;
	color:grey;
	line-height:75px;
	text-align:right;
}

h3 {
	font-size:60px;
	line-height:62px;
}

p {
	font-size:40px;
	line-height:42px;

}

a {
color:grey;
text-decoration:none;
}

img {

}

.body p {
font-size:18px;
line-height:8px;
}
	 
.footnote p {
	font-size:18px;
	line-height:20px;
	color:grey;
	margin-top:20px;
	width:50%;
	font-family:arial;
}

.text p {
	text-indent:200px;
}

p.noindent {
	text-indent:0px;
}

.cont{
	display: flex;
	margin-top:10px;
}

.w1o2 {
	width:50%;
}

.quote



quote{
	width:60%;
	margin-left:auto;
	margin-right:auto;
	margin-top:200px;
	margin-bottom:200px;
	text-align:center;
}

