
.title {
	font-family:"Arial Black";
	font-size:9vw;
	text-align:center;
	padding-top:12vw;
	color:white;
	text-shadow: 2px 2px 9px black;
}


/*ADD BACKGROUND IMAGE*/

body {
	font-family:'arial';
	color:white;
	font-size:2vw;
	text-shadow: 2px 2px 9px black;
	background-image: url(../images/BG.png);
	background-size:100%;

}

/*START NAVIGATION*/

.nav {
	display:flex;
	justify-content:center;
	padding-left:20vw;
	padding-right:20vw;
	position:fixed;
}

.btn {
}

.btn img {
	max-width:100%;
	margin:auto;
}



.btn:hover{
	color:white;
	cursor:pointer;
}

/*END NAVIGATION*/

/*START CONTAINER*/

.cont {
	display:flex;
	flex-wrap:wrap;
	padding-left:7vw;
	padding-right:7vw;
	align-items:flex-end;
}

.item{
	width:33.33%;
	padding:12px;
	display:block;
	text-align:center;
}

/*MIX UP THE GRID*/

.item.edit {
	margin-bottom:150px;
}

.item img {
	max-width:100%;
	margin:auto;
	box-shadow: 2px 2px 20px black;

}

/*END CONTAINER*/

/*Footer*/

.next {
	text-align:center;
	padding:10px;
}

.footer {
	text-align:center;
	padding:10px;
}