
.title {
	font-family:meatball;
	font-size:5vw;
	text-align:center;
	padding-top:12vw;
	color:white;
	text-shadow: 2px 2px 9px black;
}

/*Better way to do the padding?? Show how it resizes poorly*/

/*ADD BACKGROUND IMAGE*/

/*How to embeed custom font into CSS? or is it not worth it*/

body {
	font-family:meatball;
	color:white;
	text-align:center;
	font-size:2vw;
	text-shadow: 2px 2px 9px black;
	background-image: url(../images/BG.png);
	background-size:100%;
}


/*START NAVIGATION*/

.nav {
	display:flex;
	justify-content:center;
	padding-left:20vw;
	padding-right:20vw;
	position:fixed;
}

.btn {
}

.btn img {
	max-width:100%;
	margin:auto;
}


.btn:hover {
	color:white;
	cursor:pointer;
}

/*END NAVIGATION*/

.about {

}

.about img {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width:35vw;
 


}

@media only screen and (max-width: 640px) {
    /* your css of 640 px screen size */
    .about img {
  width:75%;
}

/*FOOTER*/


.next {
	text-align:center;
	padding:10px;
}

@media only screen and (max-width: 640px) {
    /* your css of 640 px screen size */
    .next  {
	font-size:3vw;

}
.footer {
	text-align:center;
}

@media only screen and (max-width: 640px) {
    /* your css of 640 px screen size */
    .footer  {
	font-size:3vw;

}
