
.mt{
	padding:2vh;
	width:50vw;
	text-align:center;
}

.joke1{
	color:white;
	font-size:6vh;
	padding:2vh;
	width:50vw;
	text-align:center;
	animation:move1 3s infinite alternate;
	font-family:futura;
	text-align:center;
	background-color:blue;
}
.joke2{
	color:white;
	font-size:6vh;
	padding:2vh;
	width:50vw;
	text-align:center;
	margin-right: auto;
	margin-left: auto;
	font-family:futura;
	text-align:center;
	background-color:blue;
}

.joke3{
	color:white;
	font-size:6vh;
	padding:2vh;
	width:50vw;
	text-align:center;
	animation:move2 3s infinite alternate;
	font-family:futura;
	text-align:center;
	background-color:blue;
}

.mada{
	font-family:futura;
	font-size:5vw;
	color:blue;
	background-color:red;
	padding:2h;
		width:50vw;
	text-align:center;
	animation:move1 3s infinite alternate;
}

.title{
	font-family:futura;
	font-size:5vw;
	color:blue;
	background-color:red;
	padding:2vh;
	margin-right: auto;
	margin-left: auto;
		width:50vw;
	text-align:center;
}

.date{
	font-family:futura;
	font-size:5vw;
	color:blue;
	background-color:red;
	padding:2vh;
	width:50vw;
	text-align:center;
	position:66vh;
	animation:move2 3s infinite alternate;
}
.word1{
	color:red;
	font-style:bold;

}

.word2{
	color:red;

}

.word3{
	color:red;
}

@keyframes move1 {
	0% {
		margin-right: auto;
	}
	50% {
		margin-right: auto;
		margin-left: auto;
	}
	100% {
		margin-left: auto;
	}
}
@keyframes move2 {
	0% {
		margin-left: auto;
	}
	50% {
		margin-right: auto;
		margin-left: auto;
	}
	100% {
		margin-right: auto;
	}
}
	
body {
	background-color: white;
}
