.mada{
	font-size:5.8vw;
	color:white;
		text-align: center;
	font-family:futura;
	animation:skew 3s infinite alternate;
	background-color:lime;
	padding:10px;
}

.date{
	font-size:5.8vw;
	color:white;
	text-align: center;
	font-family:futura;
	animation:skew 3s infinite alternate;
	background-color:lime;
	padding:10px;

}

.title{
	font-size:7vw;
	color:white;
	text-align: center;
	font-family:futura;
	animation:skewR 3s infinite alternate;
	background-color:lime;
	padding:20px;
}

.mt{
	padding: 20px;
}

.joke1{
	color:black;
	font-size:8vh;
	font-family:futura;
	text-align:center;
	background-color:lime;
	padding:5px;
	vertical-align:bottom;
	animation:skewR 3s infinite alternate;
}

.joke2{
	color:black;
	font-size:8vh;
	font-family:futura;
	text-align:center;
	background-color:lime;
	padding:5px;
	vertical-align:bottom;
	animation:skew 3s infinite alternate;
}

.joke3{
	color:black;
	font-size:12vh;
	font-family:futura;
	text-align:center;
	background-color:lime;
	padding:5px;
	vertical-align:bottom;	
	animation:skewR 3s infinite alternate;

}

.word1{
	color:yellow;
	font-style:bold;
	animation:skew 3s infinite alternate;
}

.word2{
	color:yellow;
	animation:skewR 3s infinite alternate;
}

.word3{
	color:yellow;
	animation:skew 3s infinite alternate;
}

.J31{
	color:black;
	font-size:12vh;
	font-family:futura;
	text-align:center;
	background-color:lime;
	padding:10px;
	vertical-align:bottom;	
	animation:skewR 3s infinite alternate;
}

.J32{
	color:black;
	font-size:12vh;
	font-family:futura;
	text-align:center;
	background-color:lime;
	padding:10px;
	vertical-align:bottom;	
	animation:skew 3s infinite alternate;
}


.J33{
	color:black;
	font-size:12vh;
	font-family:futura;
	text-align:center;
	background-color:lime;
	padding:10px;
	vertical-align:bottom;	
	animation:skewR 3s infinite alternate;
}

@keyframes skew {
	0% {
		transform:skew(-40deg);
	}
	100% {
		transform:skew(40deg);
	}
}

@keyframes skewR {
	0% {
		transform:skew(40deg);
	}
	100% {
		transform:skew(-40deg);
	}
}

body {
	background-color:yellow;
}