.mada{
	font-size:5.8vw;
	color:yellow;
		text-align: center;
	font-family:futura;
	animation:skew 3s infinite alternate;
	background-color:lime;
	padding:10px;
}

.date{
	font-size:5.8vw;
	color:yellow;
	text-align: center;
	font-family:futura;
	animation:skew 3s infinite alternate;
	background-color:lime;
	padding:10px;

}

.title{
	font-size:7vw;
	color:yellow;
	text-align: center;
	font-family:futura;
	animation:skewR 3s infinite alternate;
	background-color:lime;
	padding:20px;
}

.mt{
}

.joke{
	color:black;
	font-size:12vh;
	font-family:futura;
	text-align:center;
	background-color:yellow;
	padding:40px;
	vertical-align:bottom;


}

.word1{
	color:lime;
	font-style:bold;
	animation:skew 3s infinite alternate;
}

.word2{
	color:lime;
	animation:skewR 3s infinite alternate;
}

.word3{
	color:lime;
	animation:skew 3s infinite alternate;
}

@keyframes skew {
	0% {
		transform:skew(-40deg);
	}
	100% {
		transform:skew(40deg);
	}
}

@keyframes skewR {
	0% {
		transform:skew(40deg);
	}
	100% {
		transform:skew(-40deg);
	}
}

body {
	background-color:yellow;
}